<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ quiz.title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <h1>{{ quiz.title }}</h1>
        <h2>{{ quiz.questions[0].question }}</h2>

        <form action="/quizzes/{{ quiz_id }}/votar/" method="POST">
            {% for alt in quiz.questions[0].alternatives %}
            <input type="radio" name="alternative" value="{{ alt[0] }}" required>{{ alt[0] }}<br>
            {% endfor %}
            <button type="submit">Votar</button>
        </form>
        <a href="/rankings/{{ quiz_id }}">Ver Rankings</a>
    </div>
</body>

</html>