<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rankings - {{ quiz.title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <h1>Rankings para o Quiz: {{ quiz.title }}</h1>

        <h2>Alternativas Mais Votadas</h2>
        <ul>
            {% for rank in rankings %}
            <li>{{ rank.question }} - {{ rank.alternative }}: {{ rank.votes }} votos</li>
            {% endfor %}
        </ul>

        <a href="/">Voltar para a página inicial</a>
    </div>
</body>

</html>